<div class="post-self">
  <div class="ds-comment-header">
    <p><%= comment.commenter %>:&nbsp;<span><%= comment.body %></span></p>
  </div>

  <div class="ds-comment-footer">

  </div>
  <i class="fa fa-times" aria-hidden="true">
    <%= link_to 'Destroy Comment', [comment.post, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </i>
</div>
