/*
*= require 'masonry/basic'
*= require 'masonry/centered'
*= require 'masonry/fluid'
*= require 'masonry/gutters'
*= require 'masonry/infinitescroll'
*= require 'masonry/right-to-left'
*= require 'masonry/transitions'
*= require_tree .
*= require_self
*/


html, body {
 	margin:0;
 	padding:0;
  height: 100%;
 	font-family:"Helvetica Neue", Helvetica, Arial;
 }

header {
  background: #f5f5f5;
  padding: 10px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 10px;
}

main {
  padding: 30px;
}

.main-inner {
  width: 800px;
  height:100%;
  margin: 0 auto;
}
footer {
  background: #f5f5f5;
  margin-top: 40px;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 10px;
}
.footer-inner {
  margin: 0 auto;
  text-align: center;
  font-size: .8em;
}

button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: black;
}
