@import "bootstrap-sprockets";
@import "bootstrap";
a {
  color: #282842;
}

a:hover {
  color: #EF3A4C;
}

.pagination {
  border-top: #ccc;
}
.pagination > .active > a,
.pagination > .active > a:hover {
  color: #282842;
  border-color: #ccc;
  background-color: #ccc;
}
