// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins-wrapper {
  margin: 80px auto;
  height: 100%;
  width: 1112px;
  border: 1px solid black;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 350px;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
    p {
			margin: 3px;
		}
	  .user {
      width: 308px;
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 5px;
			margin: 0;
      .glyphicon {
        margin-right: 3px;
      }
	  }
	}
}
#pin_show {
  overflow: auto;
  width: 1000px;
  margin: 30px auto;
	.panel-heading {
		padding: 0;
    float: left;
    display: inline;
	}
	.pin_image {
		img {
			max-width: 500px;
			width: 100%;
			margin: 0 auto;
		}
	}
	.panel-body {
    width: 500px;
    float: right;
    background-color: white;
    padding: 0;

		h3 {
			padding: 5px 0 10px 0;
		}
		.description {
			line-height: 1.75;
		}
    .body-footer {
  		margin-bottom: 0;
  	}
	}
}


.pin-form {
  margin: 80px auto;
  width: 500px;
  border: 1px solid black;
}
