#sidebar{
 	background:#282842;
 	width:200px;
 	height:100%;
 	display:block;
 	position:absolute;
 	right:-200px;
 	top:0px;
 	transition:right 0.3s linear;
 }
.site-state {
  text-align: center;
  overflow: hidden;
  margin: 25px auto;
}
.site-state-item {
  display: inline-block;
  padding: 0 15px;
  border-left: 1px solid #e6e6e6;
  color: #e6e6e6;
}

.site-state-item:first-child {
    border-left: none;
}

.site-state-item-count {
  display: block;
  font-size: 18px;
}
 #sidebar.visible {
 	right:0px;
 	transition:right 0.3s linear;
  z-index: 100;
 }

 .site-author-image {
   display: block;
   margin: 0 auto;
   margin-top: 36px;
  }
 .site-state-git a{
     display: inline-block;
     padding: 2px 15px;
     margin: 0 60px;
     color: #EF3A4C;
     border: 1px solid #EF3A4C;
     border-radius: 3px;
     text-decoration: none;
}
 #sidebar-btn{
 	display:inline-block;
 	vertical-align: middle;
 	width:20px;
 	height:15px;
 	cursor:pointer;
 	margin:20px;
 	position:absolute;
 	top:18px;
 	left:-60px;
 }

 #sidebar-btn span{
 	height:2px;
 	background:#282842;
 	margin-bottom:5px;
 	display:block;
 }

 #sidebar-btn span:nth-child(2){
 }

 #sidebar-btn span:nth-child(3){
 }
