<div class="header-inner">
  <div class="site-meta">
    <%= link_to root_path do %>
    <%= image_tag "logo2.png" %>
    <% end %>
  </div>
  <div class="site-nav">
    <ul class="menu">
      <li class="menu-item"><a href="#"><i class="menu-item-icon fa fa-fw fa-smile-o"></i>Hello</a></li>
      <li class="menu-item"><a href="#"><i class="menu-item-icon fa fa-fw fa-newspaper-o"></i>Blog</a></li>
      <li class="menu-item"><a href="#"><i class="menu-item-icon fa fa-fw fa-picture-o"></i>Images</a></li>
      <li class="menu-item"><a href="#"><i class="menu-item-icon fa fa-fw fa-check-square-o"></i>Toread</a></li>
    </ul>
  </div>
</div>
