<div id="sidebar">
  <%= image_tag "photo.png", :class => "site-author-image" %>
  <div class="site-state">
    <div class="site-state-item">
      <span class="site-state-item-count">
        
      </span>
      <span class="site-state-item-name">Posts</span>
    </div>
    <div class="site-state-item">
      <span class="site-state-item-count">22</span>
      <span class="site-state-item-name">Tags</span>
    </div>
  </div>
  <div class="site-state-git"><a href="#">Github</a></div>
  <div id="sidebar-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

$(document).ready(function(){
$('#sidebar-btn').click(function(){
$('#sidebar').toggleClass('visible');
});
});

</script>
